/* all sidans inehåll*/
.section {
    display:flex;
    flex-direction:column;
    /*border:3px solid green;*/
    width:95%;
    margin:auto;
}
/* inehåller 2 div element*/
.container1 {
    display:inline-flex;
    flex-direction:row;
    justify-content: space-between;
    align-content: flex-start;
    border-bottom: 1px solid lightgray;
    margin-bottom: 50px;
    /*border-bottom:3px solid gray;*/
}
@media (max-width:600px) {
    .container1{
        flex-direction: column;
        display:block;
    }
    .blogimg {
    /*height:320px;*/
    margin:0px;
    display: block;
    flex:1 1 auto;
    }
}

/* själva artiklarna*/
.container2-1 {
    display:flex;
    flex-direction:column;
    flex:1;
    /*height:420px;*/
    margin:10px;
    /*width:50%;*/
   /* border:3px solid pink;*/
}
.container2-2 {
    display:flex;
    flex-direction:column;
    flex:1;
   /* height:420px;*/
    margin:10px;
    /*width:50%;*/
    border-left: 1px solid lightgrey;
   /* border:3px solid pink;*/
}
.blogh2 {
    flex:0.7;
   /* height: 50px;*/
    margin: 10px;
   /* border:3px dotted red;*/
}
.container3 {
   /* height: 300px;*/
    flex:1 1 auto;
   /* border:3px solid aqua;*/
    display: inline-flex;
    flex-direction: row;
}
@media (max-width:600px) {
    .container3 {
        flex-direction: column;
    }
}
.readme {
    flex:0.3;
   /* border:3px solid yellow;*/
    height:30px;
}


/* alla bilder i bloggen*/
.blogimg {
    flex:0.7;
    /*height:320px;*/
    margin:10px;
    /*border:3px solid blue;*/
}

.blogp {
    flex:1;
    /*height: 320px;*/
    margin:10px;
   /* border:3px solid red;*/
    
}
.readme {
    flex:0.3 0.3 auto;
    /*border:5px solid yellow;*/
}
.imgb {
    width: 100%;
    height:100%;
    display: block;
    object-fit: scale-down;
    border-radius: 2%;
}
div>p {
    width: 100%;
    height:100%;
    display: block;
   /* object-fit: scale-down;*/
}

p {
    margin-top: 50px;
    color: #595959;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    
}
h1, h2 {
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        color: #737373;
         width: 100%;
}
