/* all sidans inehåll*/
.section {
    width:auto;
    margin:auto;
<<<<<<< HEAD
}
/* gör att bilden sträcker sig ut i hela boxen och annpassar sig*/
img {
    width: 100%;
=======
}*/f
/* gör att bilden sträcker sig ut i hela boxen och annpassar sig*/
img {
    width: auto;
>>>>>>> origin/mbranch
    height:auto;
}
.img1 { 
    background-image: url('bestbeaches.jpg');
    background-size: cover;
}
.img2{
     background-image: url('localdishes.jpg');
    background-size: cover;
}
.img3 {
    background-image: url('culturalfoundation.jpg');
    background-size: cover;
}
.img4 {
    background-image: url('festivals.jpg');
    background-size: cover;
}
.img5 {
    background-image: url('watersports.jpg');
    background-size: cover;
}
.img6 {
    background-image: url('grand.jpg');
    background-size: cover;
}
/*egenskaper på text*/
p {
    color: #595959;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    
}
/*egenskaper på titlar*/
h1 {
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        color: #737373;
<<<<<<< HEAD
        text-align: center;
=======
        border-radius: 5px;
        border:2px solid #737373;
    
>>>>>>> origin/mbranch
    
}
h2 {
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        color: #737373;
<<<<<<< HEAD
    
}

=======
       
}
>>>>>>> origin/mbranch
/*gör att diven visas som en table*/
.table {
    display:table;
	padding:10px;
    width: 95%;
    
    
}
/*gör att diven visas som en table*/
.table > div {
	display:table-row;

}
/*ger egenskaper till alla cells*/
.table > div > div {
    flex:1 1 auto;
	display:table-cell;
    padding: 20px;
	text-align:left;
    vertical-align: middle;
    border-bottom: 1px solid #009999;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    
}
/*gör att alla celler visas på rad*/
@media (max-width:1000px) {
    .table > div > div {
        display: block;
        padding: 0px;
    }
}
/*tar bort bottom border*/
@media (max-width:1000px) {
    .table > div > div:first-child,.table > div >div:nth-child(3) {
        border-bottom: none;
    }
}
/*gör border dashed*/
@media (max-width:1000px) {
    .table > div > div:nth-child(2),.table > div >div:nth-child(4) {
        border-bottom:1px dashed #009999;
    }
}
/*gör att det finns mellanrum mellan articlarna*/
@media (max-width:1000px) {
    .table > div >div:nth-child(2),.table > div >div:nth-child(4) {
        padding-bottom: 50px;
        margin: 50px;
    }
}
/*gör att alla cells med bilder tar 30% av sidans bredd*/
.table > div > div:first-child,.table > div > div:nth-child(3) {
    width:30%;
}
/*gör att alla cells med bilder sträcker sig maximalt*/
@media (max-width:1000px) {
    .table > div > div:first-child,.table > div > div:nth-child(3) {
<<<<<<< HEAD
        width:auto;
=======
        width:80%;
        margin: auto;
>>>>>>> origin/mbranch
    }
}
/*border i slutet av varje artikel*/ 
.table > div > div:nth-child(2) {
<<<<<<< HEAD
     border-right: 1px solid #009999;
=======
     border-right: 1px dotted   #bfbfbf;
>>>>>>> origin/mbranch
}
@media (max-width:1000px) {
    .table > div > div:nth-child(2) {
     border-right: none;
    }
}
/*egenskaper för button*/
.button {
    display: block;
    text-align-last: right;
    width: 95%;
    margin-top: 2%;    

}
button {
    border-radius:5%;
    border: 2px solid gray;
    background-color: #009999;
   color: white;
    font-size: 110%;
    font-weight: bold;
    float: right;
}
