#secton {
	width: 100%;
	margin: auto;	
}

.table {
	 display: table;
	 padding: 10px;
     width: 95%;	
}

.table > div {
	display:table-row;	
}

.table > div > div {
    flex:1 1 auto;
	display:table-cell;
    padding: 20px;
	text-align:left;
    vertical-align: middle;
    border-bottom: 3px solid #009999;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.tabel-2 {
	display: flex;
	padding: 10px;
	width: 95%;
	
}
.table-2 > div {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	
}
.images {
	margin: 11px;
	border: 1px solid white;
	height: 100px;
	width: auto;
}
img {
	height: 300px;
	width:  100%;
}
.cimg {
	background-image: url (me.jpg);
	background-size: cover;
	margin-top: 5px;
}
.simg {
	background-image: url (profil.jpg);
	background-size: cover;
	margin-top: 5px;
}
.mimg {
	background-image: url(mira.jpg);
	background-size: cover;
	margin-top: 5px;
}
p {
	font-style: italic;
	font-family: sans-serif;
	
}
h1 {
	color: #009999;
	font-family: sans-serif;
	text-align: center;
	border-bottom: 3px solid #009999;
}
h2 {
	font-family: sans-serif;
	color: #009999;
	text-align: center;
}
.table > div > div:first-child,.table > div > div:nth-child(3) {
    width:20%;
}
.table > div > div {
        display: block;
        padding: 5px;
    }

@media (max-width:800px) {
    .table > div > div:first-child,.table > div > div:nth-child(3) {
        width:auto;
    }
}
@media (max-width:800px) {
    .table > div > div:first-child,.table > div >div:nth-child(3) {
        border-bottom: none;
    }
}