#secton {
	width: 100%;
	margin: auto;	
}

.table {
	 display: table;
	 padding: 10px;
     width: 95%;	
}

.table > div {
	display:table-row;	
}

.table > div > div {
    flex:1 1 auto;
	display:table-cell;
    padding: 20px;
	text-align:left;
    vertical-align: middle;
    border-bottom: 3px solid #009999;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
img {
	height: 300px;
	width:  100%;
}
.cimg {
	background-image: url (me.jpg);
	background-size: cover;
}
.simg {
	background-image: url (profil.jpg);
	background-size: cover;
}
.mimg {
	background-image: url(mira.jpg);
	background-size: cover;
}
p {
	font-style: italic;
	font-family: sans-serif;
	
}
h1 {
	color: #009999;
	font-family: sans-serif;
	text-align: center;
	border-bottom: 3px solid #009999;
}
h2 {
	font-family: sans-serif;
	color: #009999;
	text-align: center;
}
.table > div > div:first-child,.table > div > div:nth-child(3) {
    width:40%;
}
.table > div > div {
        display: block;
        padding: 0px;
    }
}
@media (max-width:800px) {
    .table > div > div:first-child,.table > div > div:nth-child(3) {
        width:auto;
    }
}
@media (max-width:800px) {
    .table > div > div:first-child,.table > div >div:nth-child(3) {
        border-bottom: none;
    }
}