
#all-content{
	display: flex;
	width: 95%;
	margin: auto;
	color: black;
}
.content1 {
	
	flex: 1 1 auto;
	flex-direction:column;
	
}
.content2 {
	margin-left: 12px;
	margin-top: 4px;
}
.img1 {
	background-image: url (background1.jpg);
    height: 400px;
		
}

h2 {
	color: #4d4d4d;
	margin-left: 40px;
}

.contact-form > label {
	width: 150px;	
	text-align: right;
	margin-top: 14px;
	padding-right: 12px;
	clear: left;
	font-size: 1.5em;
}


label {

	
	width: 150px;	
	text-align: right;
	margin-top: 14px;
	padding-right: 12px;
	clear: left;
	font-size: 1.5em;
	
}
input, textarea {
	margin-top: 12px;
	padding: 12px;
	border-radius: 4px;
}

i {
	color: deepskyblue;
}

.form {
	width: 30%;
	margin-left: 25px;
	float: right;
	margin-top: -50px;
}

	
}
.submit {
	margin-left: 150px;
	padding: 15px;
	color: black;
	
}
.img1, .img2 {
	width: 100%;
	
}
.p {
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-left: 20px; 
	color: black;
}
.contact-info {
	width: 100%;
   padding: 12px 20px;
   box-sizing: border-box;
    border-radius: 4px;
    background-color: #f8f8f8 ;
   font-size: 19px;
   text-align: left;
}

ul {
	list-style: none;
}

input [type=text]:focus {
	border: 2px solid #99ffff;
}

@media (max-width: 800px) {
	.form {
		width: 80%;
		clear: right;
	}
}
@media (min-width:801px) and (max-width:1000px) {
	.form {
	width: 70%;	
	clear: right;
	}
}
@media (min-width:999px) and (max-width:1100px) {
	.form {
		width: 60%;
		clear: right;
	}
}
@media (max-width:600) {
	.content2 > div {
		display: block;
		max-width: 100%;
		position: absolute;
		clear: right;
		float: left;
		
	}
	
}

@media (min-width:600) and (max-width:1000) {
	.form > div > div{
		margin-top: 20px;
	}
	
}

input[type=text] {
   width: 100%;
   padding: 12px 20px;
   box-sizing: border-box;
    border-radius: 4px;
    background-color: #f8f8f8 ;
   font-size: 19px;
 
}
