h1 {
	text-align: center;
	border-bottom: 5px solid aqua;
}
#all-content{
	display: flex;
	width: 95%;
	margin: auto;
}
.content1 {
	margin-top: 15px;
	flex: 1 1 auto;
	flex-direction:column;
	
}
.content2 {
	margin-left: 12px;
	margin-top: 10px;
}
.img1 {
	background-image: url (background1.jpg);
    height: 400px;
	
	
	
}
.info {
	font-size: 1.5em;
	font-family: sans-serif;
}
h2 {
	color: #009999;
	margin-left: 40px;
}
p {
	margin-left: 10px;
	
}

label {

	
	width: 150px;	
	text-align: right;
	margin-top: 14px;
	padding-right: 12px;
	clear: left;
	font-size: 1.5em;
	
}
input, textarea {
	margin-top: 12px;
	padding: 12px;
	border-radius: 4px;
}

i {
	color: deepskyblue;
}

.form {
	width: 30%;
	margin-left: 25px;
	float: right;
	margin-top: -50px;
}

	
}
.submit {
	margin-left: 150px;
	padding: 15px;
	
}
.img1, .img2 {
	width: 100%;
	
}
p {
	font-family: sans-serif;
	font-size: 1.5em;
	margin-left: 50px;
}
ul {
	list-style: none;
}
li {
	text-align: left;
	
}
input [type=text]:focus {
	border: 2px solid #99ffff;
}
@media (max-width: 800px) {
	.form {
		width: 80%;
		clear: both;
	}
}
@media (min-width:801px) and (max-width:1000px) {
	.form {
	width: 70%;	
	clear: both;
	}
}
@media (min-width:999px) and (max-width:1100px) {
	.form {
		width: 60%;
		clear: both;
	}
}
@media (max-width:600) {
	.content2 > div {
		display: block;
		max-width: 100%;
		position: absolute;
		clear: right;
		float: left;
		
	}
	
}

@media (min-width:600) and (max-width:1000) {
	.form > div > div{
		margin-top: 20px;
	}
	
}

input[type=text] {
   width: 100%;
   padding: 12px 20px;
   box-sizing: border-box;
    border-radius: 4px;
    background-color: #f8f8f8 ;
   font-size: 19px;
 
}