.content {
	width:auto;
	margin: auto;
}
.table {
	 display: table;
	 padding: 10px;
     width: 70%;
     margin: auto;
    	 
}
.table > div {
	display:table-row;	
	border: 2px solid white;
}
.table > div > div {
    flex:1 1 auto;
	display:table-cell;
	text-align:left;
    vertical-align: middle;
	width: 33%;
	padding: 5px;


}
.table > div > div > div {
	display: table-row;
	border: 3px solid white;
	margin: 4px;

}
/*
@media (max-width:1000px) {
    .table > div > div:first-child,.table > div > div:nth-child(2) {
        width: 80%;
		margin: auto;
    }
}
*/
img {
	height: auto;
	width:  100%;
}
.vision1 {
	background-image: url ('vision1.jpg');
	background-size: cover;
}
.vision2 {
	background-image: url ('vision2.jpg');
	background-size: cover;
} 
.vision3 {	
	background-size: cover;
	background-image: url ('vision3.jpg') 
}
.vision4 {
	background-image: url ('vision4.jpg');
	background-size: cover;
}
.vision5 {
	background-image: url ('vision5.jpeg');
	background-size: cover;
}
.vision6 {
	background-image: url ('vision6.jpg');
	background-size: cover;	
}
.vision7 {
	background-image: url ('vision7.jpg');
	background-size: cover;	
}
.text {
	font-weight: bold;
	border: 3px solid gray;
	text-align: center;
}
p {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 1.4em;
}
