body {color:white;}

.flex-container {                   //**for pictures**//
    display: -webkit-flex;
    display: flex;
    width: 100%;

    background-color: ;

    -webkit-justify-content: center;
    justify-content: center;
}

.flex-container1 {                  //**for search options**//
    display: -webkit-flex;
    display: flex;

    background-color: #009999;

    -webkit-justify-content: center;
    justify-content: center;
}

/////////////////////////////////////////////////////**/////////////////////////////////////////////////////////////////////////////////////////**////////////////////////////////////////

//**Category rows**//

//**row 1**//

.empty {    background-image: url('');     //**empty**//
    background-size: cover;
    width: 23%;
    min-height: 10em;
}


.flex-item100 {    
    background-color: #009999;
    width: 23%;
    min-height: 1em;
    margin: 10px;
}
        
.flex-item1 { 
    background-image: url('beach1.jpg');
    background-size: cover;
    width: 23%;
    min-height: 11em;
    margin: 10px;

}
 
.flex-item2 { 
    background-image: url('beach2.jpg');
    background-size: cover;
    width: 23%;
    min-height: 11em;
    margin: 10px;
}
        
.flex-item3 { 
    background-image: url('beach3.jpg');
    background-size: cover;
    width: 23%;
    min-height: 11em;
    margin: 10px;
}
  
        
//**row 2**//
              
.flex-itemx { 
}
        
.flex-item4 { 
    background-image: url('beach4.jpg');
    background-size: cover;
    width: 23%;
    min-height: 11em;
    margin: 10px;
}
 
.flex-item5 { 
    background-image: url('beach5.jpg');
    background-size: cover;
    width: 23%;
    min-height: 11em;
    margin: 10px;
}
.flex-item6 { 
    background-image: url('beach6.jpg');
    background-size: cover;
    width: 23%;
    min-height: 11em;
    margin: 10px;
}

 //**row 3**//
              
.flex-itemx { 
}
        
.flex-item7 { 
    background-image: url('beach7.jpg');
    background-size: cover;
    width: 23%;
    min-height: 11em;
    margin: 10px;
}
 
.flex-item8 { 
    background-image: url('beach8.jpg');
    background-size: cover;
    width: 23%;
    min-height: 11em;
    margin: 10px;
}
.flex-item9 { 
    background-image: url('beach9.jpg');
    background-size: cover;
    width: 23%;
    min-height: 11em;
    margin: 10px;
}

 //**row 4**//
              
.flex-itemx { 
}
        
.flex-item10 { 
    background-image: url('beach10.jpg');
    background-size: cover;
    width: 23%;
    min-height: 11em;
    margin: 10px;
}
 
.flex-item11 { 
    background-image: url('beach11.jpg');
    background-size: cover;
    width: 23%;
    min-height: 11em;
    margin: 10px;
}
.flex-item12 { 
    background-image: url('beach12.jpg');
    background-size: cover;
    width: 23%;
    min-height: 11em;
    margin: 10px;
}
/////////////////////////////////////////////////////**/////////////////////////////////////////////////////////////////////////////////////////**////////////////////////////////////////

//**inside the picture boxes**//

.name {
    background-color: #009999; 
    color: white; 
    opacity: 0.6; 
    text-align: left; 
     border: 2px solid #4CAF50;
    font-size: 1.5em;
    padding: 3px;
} 
        
.button_box {
    background-color: ; 
    color: white;
    margin-top:10em ;
    padding: 3px;
    margin-left: 11em;
}
        
.button {
    background-color:#009999;
    border: 2px solid #4CAF50;
    border-radius: 2px;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration:inherit;
    display: inline-block;
    font-size: 1em;
}

/////////////////////////////////////////////////////**/////////////////////////////////////////////////////////////////////////////////////////**////////////////////////////////////////

//**Search formular**//

.form1{
    margin: 0px auto; 
    max-width: 100%;
}

form ul {
    list-style-type: none;
    margin: 2;
    padding: 2;
    overflow: hidden;
}

.form_box {
    margin-top:10em ;
    padding: 3px;
}

/////////////////////////////////////////////////////**/////////////////////////////////////////////////////////////////////////////////////////**////////////////////////////////////////


//**Footer**//

.footer{   
}

.site-footer {
  background: #009999;
  z-index:1;
  min-height: 5em;
  padding: 10px;
}

#footer1{
margin-left:2%;
float:right;

}
#footer2{
margin-right:2%;
float:left;
}

/*float left - menu categories*/
.left { float: left; }


/*float right*/
.right { float: left; }